.main-nav {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  border-radius: 5px;
  padding-block: 1rem;
}

nav ul,
nav li {
  list-style-type: none;
  display: inline-block;
}

nav li {
  padding: 10px 10px 10px 0;
}

nav a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #333;
}

nav a {
  font-weight: bold;
  letter-spacing: 1px;
}
