.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.loader {
  display: flex;
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
